In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
dframe = pd.read_csv('lect25.csv',header=None)

In [9]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [10]:
dframe = pd.read_table('lect25.csv',sep=',',header=None)

In [11]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [12]:
pd.read_csv('lect25.csv',header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [22]:
dframe.to_csv('mydata_out.csv',header=None,index=False)

In [15]:
import sys

In [21]:
dframe.to_csv(sys.stdout,sep=';',header=None,index=False)

q;r;s;t;apple
2;3;4;5;pear
a;s;d;f;rabbit
5;2;5;7;dog