In [1]:
import pandas as pd

In [2]:
# conda install xlrd
# conda install openpyxl

In [3]:
xlsfile = pd.ExcelFile('lect28.xlsx')

In [6]:
dframe = xlsfile.parse('Hoja1')

In [7]:
dframe

   This is a text  Unnamed: 1  Unnamed: 2  Unnamed: 3 Unnamed: 4
0             NaN         NaN         NaN         NaN        NaN
1             NaN         NaN         NaN         NaN        NaN
2              31          66           2          77      apple
3              12          31          11          66        ibm
4              17          91          85         100  microsoft

In [8]:
dframe2 = pd.read_excel('lect28.xlsx')

In [9]:
dframe2

   This is a text  Unnamed: 1  Unnamed: 2  Unnamed: 3 Unnamed: 4
0             NaN         NaN         NaN         NaN        NaN
1             NaN         NaN         NaN         NaN        NaN
2              31          66           2          77      apple
3              12          31          11          66        ibm
4              17          91          85         100  microsoft