In [1]:
cities = ['NY','LA','SF']

In [2]:
for city in cities:
    print city

NY
LA
SF

In [3]:
for city in cities:
    phrase = 'I love ' + city
    print phrase

I love NY
I love LA
I love SF

In [7]:
for n in range(1,10):
    print 'The inverse of', n, 'is', 1.0/n

The inverse of 1 is 1.0
The inverse of 2 is 0.5
The inverse of 3 is 0.333333333333
The inverse of 4 is 0.25
The inverse of 5 is 0.2
The inverse of 6 is 0.166666666667
The inverse of 7 is 0.142857142857
The inverse of 8 is 0.125
The inverse of 9 is 0.111111111111

In [8]:
for letter in 'Hello':
    print letter

H
e
l
l
o

In [9]:
cities[0]

'NY'

In [14]:
city='NY'

In [15]:
if city == 'NY':
    print 'Party!'
else:
    print 'Work'

Party!

In [16]:
1 == 2

False

In [17]:
2 == 2

True

In [18]:
3 > 2

True

In [19]:
3 > 4

False

In [20]:
4 <= 5

True

In [21]:
1 != 2

True

In [22]:
[1,1,1] == [1,1,1]

True

In [23]:
[1,1,1] == [1,2,1]

False